.root-editor-container{
    background-color: goldenrod;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    .editor-header {
        background-color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        button,select{
            border: none;
            background-color: #313131;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
        button{
            color: #00b8a2;
            background-color: #2a3d3a;
            cursor: pointer;
            transition-duration: 0.5s;
        }
        button:hover{
            background-color: #2a635a;
        }
        .title{
            font-size: 20px;
        }
    }
    .editor-footer{
        background-color: #1a1a1a;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        .btn-footer{
            display: flex;
            align-items: center;
            padding: 4px 10px;
            background-color: #3e3e3e;
            color:#c3c4c8;
            border: none;
            gap: 7px;
            border-radius: 4px;
            cursor: pointer;
            transition-duration: 0.8s;
        }
        .btn-footer:hover{
            background-color: #8d8e94;
            color: white;
        }
    }
    .editor-body{
        background-color: white;
        flex-grow: 1;
    }
    .editor-left-container , .editor-right-container{
        display: flex;
        padding: 10px;
        align-items: center;
       
    }
    .editor-right-container{
        gap: 10px;
    }
    .editor-left-container{
        gap: 10px;
    }
    .fullpage-loader{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.167);
        display: flex;
        justify-content: center;
        align-items: center;
        .loader{
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: 7px solid rgba(146, 130, 5, 0.313);
            border-left-color: rgb(255, 255, 255);
            animation: 0.8s loader infinite linear;
            border-radius: 50%;
        }
    }
}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
